MarketingWebApp/MarketingWebApp/Models/PeopleCapture.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="person">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="firstname" type="xs:string" />
              <xs:element name="surname" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="referenceno" type="GUID" />
              <xs:element name="orders">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="order">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="orderreference" type="GUID" />
                          <xs:element name="ordername" type="xs:string" />
                          <xs:element name="ordervalue" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="GUID">
    <xs:annotation>
      <xs:documentation xml:lang="en">The representation of a GUID, generally the id of an element.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>